
{block content}
<div class="googleMapAPI" data-map="{$map}" data-basePath="{$basePath}" data-preserveViewport="{$preserveViewport}" data-markersFallback="{$markersFallbackUrl}" data-waypointsFallback="{$waypointsFallbackUrl}" data-waypointlimit={$waypointlimit}></div>